/* Main styles */

.root {
    -fx-background-color: #4d494d;
    -fx-font-family: SansSerif;
}

.menu-bar {
    -fx-background-color: #3e383e;
}

.label {
    -fx-text-fill: #ece3e3;
}

.menu:hover {
    -fx-background-color: grey;
    -fx-cursor: hand;
}

.menu-item:hover {
    -fx-background-color: #3e383e;
    -fx-cursor: hand;
}

.context-menu {
    -fx-background-color: #1c1a1a;
}

.button {
    -fx-background-color: #2b2a2b;
    -fx-text-fill: white;
    -fx-padding: 15px 20px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #171617;
}

.confirmButton {
    -fx-padding: 5px 10px;
}

.deleteButton {
    -fx-background-color: #bf0f0f;
    -fx-padding: 5px 10px;
}

.deleteButton:hover {
    -fx-background-color: #ad0202;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-border-color: transparent transparent #171617 transparent;
    -fx-background-color: #3e383e;
    -fx-border-width: 2px;
}

.tab-pane .tab {
    -fx-background-color: #2b2a2b;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab:selected {
    -fx-background-color: #171617;
    -fx-border-color: transparent;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.alertBlock {
    -fx-background-color: #d64242;
}

.alertMessage {
    -fx-fill: white;
}